body {
  background-color: #f3efe0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#container {
  margin: 20px;
  touch-action: manipulation;
}
#header {
  text-align: center;
  font-size: 1.5em;
}
h1,
h2,
p {
  margin: 10px 20px;
  text-align: center;
}
h1,
button,
select,
#winConText {
  color: #333333;
}
h2 {
  font-size: 2em;
  line-height: 1.4em;
}
#score-container {
  display: flex;
  justify-content: center;
}
#options {
  text-align: center;
}
#player1 {
  background-color: #434242;
  padding: 20px;
}
#player2 {
  background-color: #222222;
  padding: 20px;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  margin: 20px;
  width: 40%;
  border-radius: 10px;
  color: whitesmoke;
  max-width: 500px;
}
.scoreDisplay {
  font-size: 6em;
  font-weight: bold;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.optionBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button,
select {
  text-align: center;
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  background-color: #22a39f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.scoreBtn {
  font-size: 2em;
  margin: 10px;
  width: 3em;
}
.optionBtn,
select {
  font-size: 2em;
  text-align: center;
  margin: 10px;
  width: 11em;
}
.winner {
  border: 10px #22a39f solid !important;
}
@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
  .score {
    margin: 5px;
  }
  #container {
    margin: 5px;
  }
  .btnContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
