body {
  background-color: #f3efe0;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  margin: 20px;
}
#header {
  text-align: center;
  font-size: 1.5rem;
}
h1,
h2,
p {
  margin: 10px 20px;
}
h1,
button {
  color: #333333;
}
#score-container {
  display: flex;
  justify-content: center;
}
#options {
  text-align: center;
}
#player1 {
  background-color: #434242;
  padding: 20px;
}
#player2 {
  background-color: #222222;
  padding: 20px;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  margin: 20px;
  width: 40%;
  border-radius: 10px;
  color: whitesmoke;
}
.scoreDisplay {
  font-size: 6em;
  font-weight: bold;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  background-color: #22a39f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.scoreBtn {
  font-size: 2rem;
  margin: 10px;
  width: 98px;
}
.optionBtn {
  font-size: 2rem;
  margin: 10px;
  width: 172px;
}
